- var pageTitle = "Chess engine"
doctype
html(lang="en")
  head
    title= pageTitle

    meta(name='viewport', content='width=device-width, initial-scale=1')


    link(href='', rel='stylesheet')
    link(href='', rel='stylesheet')
    link(href='', rel='stylesheet')

    script(src="js/jquery.min.js")
    script(src="js/defs.min.js")
    script(src="js/main.min.js")


  body
